@use 'variables';
.box {
  font-family: variables.$font_primary;
  letter-spacing: .8px;
  font-size: 18px;
  font-weight: lighter;
  background: variables.$c_contrast;
  max-width: 640px;
  margin: auto;
 
  &:first-child {
    @media screen and (min-width: variables.$large_bp) {
      margin-top: -40px;
      position: relative;
    }
  }
  @media screen and (min-width: variables.$large_bp) {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    margin: 40px auto;
  }
  &__text {
      padding: 50px;
    }
  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding-bottom: 20px;
    font-family: variables.$font_header;
  }
  h3 {
    font-family: variables.$font_header;
    padding-bottom: 10px;
  }
  h4 {
    font-family: variables.$font_header;
    margin: 20px 0 0 0;
  }
  p {
    line-height: 1.5;
    margin-top: 0;
  }
  a {
    color: variables.$c_primary;
    text-decoration: none;
    border-bottom: 1px dashed variables.$c_primary;
    &:hover {
      border-bottom: 1px solid variables.$c_primary;
    }
  }
}

.box__flex {
  @media screen and (min-width: variables.$small_bp) {
    display: flex;
    align-items: flex-start;
  }
  &--content {
    @media screen and (min-width: variables.$small_bp) {
      flex: 1 1 70%;
    }
  }
  &--image img {
    @media screen and (min-width: variables.$small_bp) {
      flex: 1 1 30%;
    }
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  }
}

.content {
  .box {
    max-width: 800px;
  }
}