@use 'variables';


.top {
  background-image: url(/images/header_bg.webp);
  background-size: cover;
  background-position: bottom;
  @media screen and (min-width: variables.$medium_bp) {
    background-position: top;
  }
  background-repeat: no-repeat;
  font-family: variables.$font_primary;
  display: flex;
  flex-direction: column;
  margin: 0;
  &__header {
    height: 500px;
    @media screen and (min-width: variables.$medium_bp) {
      height: 650px;
    }
    h1 {
      font-family: variables.$font_header;
      color: variables.$c_contrast;
      text-align: left;
      font-size: 48px;
      margin: 130px auto 0 auto;
      width: 300px;
      @media screen and (min-width: variables.$medium_bp) {
        margin-top: 150px;
      }
      @media screen and (min-width: variables.$large_bp) {
        font-size: 59px;
        margin-top: 190px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 69px;
        margin-top: 280px;
      }
    }
  }
}


.top-content {
  .hero__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}