@use 'variables';


.top {
  background: url(/images/header_bg.webp) bottom / cover no-repeat;
   @media screen and (min-width: variables.$medium_bp) {
    background-position: top;
    height: 650px;
  }
  height: 500px;
  margin: 0;
  font-family: variables.$font_primary;
  display: flex;
  flex-direction: column;
  &__header {
    height: 400px;
    h1 {
      font-family: variables.$font_header;
      color: variables.$c_contrast;
      text-align: left;
      font-size: 10vw;
      margin: 15vw auto;
      max-width: 250px;
      @media screen and (min-width: variables.$small_bp) {
        font-size: 6.5vw;
      }
      @media screen and (min-width: 700px) {
        margin: 5.5vw auto;
      }
      @media screen and (min-width: variables.$medium_bp) {
        margin: 12vw auto 0 25vw;
      }
      @media screen and (min-width: variables.$large_bp) {
        margin: 13vw auto 0 26vw;
        font-size: 5.5vw;
      }
    }
  }
}


.top-content {
  .hero__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}