@use 'variables';
@use 'header';
@use 'nav';
@use 'content';
@use 'gallery';



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  font-family: variables.$font_primary;

}

.footer {
  padding-top: 20px;
  font-family: variables.$font_header;
  text-align: center;
} 

