@use 'variables';
@use 'header';
@use 'nav';
@use 'content';
@use 'gallery';
@use 'article';
@use 'form';



* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  font-family: variables.$font_primary;
  background-color: variables.$c_bg;

}

.footer {
  padding-top: 20px;
  font-family: variables.$font_header;
  text-align: center;
  font-size: 12px;
  p {
    margin: 5px;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dashed variables.$c_primary;
    color: variables.$c_primary;
    &:hover {
      border-bottom: 1px solid variables.$c_primary;
    }
  }
} 

