<footer class="footer">
  <p>
    &copy; Veronika Bosáková, 2021
  </p>
  <p>
    Za historické fotky sídliště děkuji paní Haně Mickové.
  </p>
  <p>
    Obsah textů čerpá z
    <a href="https://dspace.cuni.cz/handle/20.500.11956/45261?show=full">bakalářské práce</a>
    pana Petra Balaše, kterému také děkuji.
  </p>
  <p>
    Web vznikl s podporou
    <a href="https://www.czechitas.cz">Czechitas</a>.
  </p>
</footer>