  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Sídliště Novodvorská"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:secure_url" content="https://www.sidlistenovodvorska.cz/images/header_bg_h1.jpg"/>
    <meta property="og:image" content="https://www.sidlistenovodvorska.cz/images/header_bg_h1.jpg"/>
    <meta property="og:url" content="https://www.sidlistenovodvorska.cz"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200;300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet">
    <title>{{ title }}</title>
    <!-- Panelbear -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=14Si1KM7P4w"></script>
    <script>
      window.panelbear = window.panelbear || function () {
        (window.panelbear.q = window.panelbear.q || []).push(arguments);
      };
      panelbear('config', {site: '14Si1KM7P4w'});
    </script>
  </head>