    <nav class="nav">
      <input type="checkbox" class="nav__checkbox" id="nav-checkbox">
      <label for="nav-checkbox" class="nav__toggler">
        
        <svg class="hamburger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="12" y1="21" x2="52" y2="21"/>
            <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="12" y1="33" x2="52" y2="33"/>
            <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="12" y1="45" x2="52" y2="45"/>
        </svg>
        
        </label>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="/">Úvod</a></li>
        <li class="nav__item"><a class="nav__link" href="/o_sidlisti/">O sídlišti</a></li>
        <li class="nav__item"><a class="nav__link" href="/architekti/">Architekti</a></li>
        <li class="nav__item"><a class="nav__link" href="/sochy/">Sochy</a></li>
        <li class="nav__item"><a class="nav__link" href="/panelaky/">Paneláky</a></li>
      </ul>
    </nav>